RewriteEngine On
#RewriteRule ^manual/?$ manual/index.html
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ http://maarons.alwaysdata.net/software/GNU/WebSocket4J/$1
ProxyRequests Off
ProxyPass / http://maarons.alwaysdata.net/software/GNU/WebSocket4J/
ProxyPassReverse / http://maarons.alwaysdata.net/software/GNU/WebSocket4J/
